@model IEnumerable<WebLib.Models.AuthorModel>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                Id
            </th>
            <th class="text-center">
                Фамилия
            </th>
            <th class="text-center">
                Имя
            </th>
            <th class="text-center">
                Отчество
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
        <tr>
            <td class="text-center">
                @author.Id
            </td>
            <td class="text-center">
                @author.Surname
            </td>
            <td class="text-center">
                @author.Name
            </td>
            <td class="text-center">
                @author.Patronymic
            </td>
        </tr>
        }
    </tbody>
</table>
