@model IEnumerable<WebLib.Models.DepartmentModel>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                ID
            </th>
            <th class="text-center">
                Название
            </th>
            <th class="text-center">
                ID библиотеки
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
        <tr>
            <td class="text-center">
                @m.Id
            </td>
            <td class="text-center">
                @m.Name
            </td>
            <td class="text-center">
                @m.LibraryId
            </td>
        </tr>
        }
    </tbody>
</table>

