@model WebLib.Models.TempworkModel

@{
    ViewBag.Title = "Книги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Sidebar {
    <div class="col-md-2" id="navbar">
        <nav class="sidebar">
            <ul class="list-unstyled navbar-list">
                <li class="navbar-list-item">
                    @Html.ActionLink("Просмотр данных", "Index", "Admin")
                </li>
                <li class="navbar-list-item active-nav-item">
                    @Html.ActionLink("Отмена изменений", "Index", "History")
                </li>
                <li class="navbar-list-item">
                    @Html.ActionLink("Резервное копирование", "Index", "Backup")
                </li>
            </ul>
        </nav>
    </div>
}

<div class="col-md-10 col-md-offset-2">
    <div class="page-wrapper">

        <div class="row row-default">
            <div class="col-md-12">
                @{Html.RenderAction("BooksList", "Admin");}
            </div>
        </div>
    </div>
</div>
