body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-height: 100vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

#navbar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #f6f6f6;
    border-right: 1px solid #e7e7e7;
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
}

.navbar-list {
    margin: 100px 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    font-weight: 500;
}

.page-wrapper {
    margin-left: 250px;
    margin-top: 50px;
}

.form-signin {
    min-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.search-input {
    margin: 0 10px;
}

.row {
    margin: 0 0 100px 0;
}