
@{
    ViewBag.Title = "Войти";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@model WebLib.Models.LoginModel

<div class="container">
    <div class="row vertical-align">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default" style="margin: 150px 0">
                <div class="panel-body">
                    <h3 class="text-center">Вход</h3>
                    @using (Html.BeginForm("Index", "Login", null, FormMethod.Post, new { @class = "form-signin text-center" }))
                    {
                        <div class="form-label-group">
                            @Html.TextBoxFor(m => m.Login, new { @type = "text", @id = "inputLogin", @class = "form-control", @placeholder = "Логин" })
                        </div>

                        <div class="form-label-group">
                             @Html.TextBoxFor(m => m.Password, new { @type = "password", @id = "inputPassword", @class = "form-control", @placeholder = "Пароль" })
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <label class="custom-control-label" for="rememberCheck">Запомнить пароль? </label>
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input", @id = "rememberCheck" })
                        </div>
                        <button class="btn btn-primary btn-lg" type="submit">Войти</button>
                        <p>
                            Нет аккаунта? <a>Зарегистрироваться</a>.
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

