@model WebLib.Models.ProviderModel

<div class="row">
    <ul class="list-unstyled user-card-list">
        <li class="user-card-li text-center">
            <h4>@Model.FullName</h4>
        </li>
        <li class="user-card-li text-center">
            <small class="text-muted"> @Model.Address</small>
        </li>
    </ul>
</div>

