@model WebLib.Models.LibrarianPages.AddIssueModel

@using (Html.BeginForm("AddIssue", "LibrarianPage", null, FormMethod.Post))
{
    @Html.HiddenFor(c => c.BookId)
    <div class="modal-header row">
        <h5 class="modal-title text-center" id="addIssueModal">
            <span class="text-center">
                Выдать книгу №@Model.BookId
            </span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
    </div>
    <div class="modal-body row">
        <div class="control-group col-md-12 pull-left" style="min-height: 100px;">
            <label class="control-label" for="ReaderList">Выберите читателя: </label>
            <div class="controls">
                @Html.DropDownListFor(m => m.ReaderId, new SelectList(Model.Readers, "Id", "FullName", 0), new { @id = "ReaderList", @class = "form-control", @style = "min-width: 100%" })
                <p class="help-block">@Html.ValidationMessageFor(m => m.ReaderId, null, new { @class = "text-danger" })</p>
            </div>
        </div>
    </div>
    <div class="text-right modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Выдать</button>
    </div>
}